nav .navbar-brand {
    font-family: "Agency FB", sans-serif;
    font-size: 24px;
}

.location_list {
    background-color: #dee2e6;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#map{
    padding-left : 2px;
    border-radius: 4px;
    height: 500px;
}